.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 50%;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
}

.container {
  border: #283e50;
  background-color: #283e50;
  width: 400px;
  height: 230px;
}

.img {
  width: 400px;
  height: 300px;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}

h1 {
  font-family: Lobster;
  justify-content: center;
  text-align: center;
  color: white;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: white;
  text-align: center;
  padding: 5px 10px 5px 10px;
}

.button--rules,
.button--start {
  justify-content: center;
}

.button--rules {
  border: #1fcca4;
  background-color: #1fcca4;
}

.button--start {
  border: #0197f6;
  background-color: #0197f6;
}

.button--rules,
.button--start {
  margin: 0;
  padding: 15px;
  width: 400px;
  height: 50px;
  justify-content: center;
}

.button--rules:hover {
  background-color: #1cbb96
}

.button--start:hover {
  background-color: #0090e9;
}

a {
  color: white;
  text-decoration: none;
}

/* CSS HRA.HTML */

.body-game {
  min-height: auto;
  max-width: 80vmin;
  margin: auto;
  padding-bottom: 15px;
  box-sizing: border-box;
}

.menu,
.menu--righticon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu--plays {
  text-transform: uppercase;
}

.img--circle {
  float: left;
}

.menu {
  justify-content: flex-start;
}

.icon-container {
  justify-content: flex-end;
}

.game__box {
  display: flex;
  flex-wrap: wrap;
  border: black 1px solid;
}

.game__box--square {
  flex-basis: 10%;
  border: 2px solid black;
  opacity: 0.5;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.game__box--square:hover {
  opacity: 0.8;
}

.game__box--square:focus {
  opacity: 0.8;
}
